# Local MongoDB server viewed through MongoDB Compass:
MONGODB_URI=mongodb://127.0.0.1:27017

# For Vercel, replace the value with a publicly reachable MongoDB URI.
# Example remote MongoDB server:
# MONGODB_URI=mongodb://USERNAME:PASSWORD@HOST:27017/mora_store?authSource=admin
# Example MongoDB Atlas server:
# MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/mora_store
